modules = ["nodejs-20", "web", "nix"]
[agent]
expertMode = true
integrations = ["javascript_gemini:1.0.0"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Next.js Dev Server"

[[workflows.workflow]]
name = "Next.js Dev Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "run", "start"]
build = ["npm", "run", "build"]

[userenv]

[userenv.shared]
NEXT_PUBLIC_FIREBASE_API_KEY = "AIzaSyDLup2sf216lfFLIAjsSVhoW1ml7GY7jpA"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN = "studio-7912705047-c2f86.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID = "studio-7912705047-c2f86"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID = "535462288377"
NEXT_PUBLIC_FIREBASE_APP_ID = "1:535462288377:web:bb414da5b0a91c456fbb28"
GEMINI_API_KEY = "AIzaSyARUFcjj4doPDJEusz4nbCY2s9TViHz02s"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET = "studio-7912705047-c2f86.firebasestorage.app"
