modules = ["nodejs-20", "web", "nix"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Next.js Dev Server"

[[workflows.workflow]]
name = "Next.js Dev Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "run", "start"]
build = ["npm", "run", "build"]

[userenv]

[userenv.shared]
NEXT_PUBLIC_FIREBASE_API_KEY = "AIzaSyB_UHpVsmHIe7SkB0UDFr9i-8TII6rnhE8"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN = "zain-linguo.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID = "zain-linguo"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET = "zain-linguo.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID = "319269440779"
NEXT_PUBLIC_FIREBASE_APP_ID = "1:319269440779:web:4ae8912c43d06e3b05e60e"
